.profile__edit-button{
    width: 24px;
    height: 24px;
    background: url("../../../images/Edit-Button.svg");
    cursor: pointer;
    border: none;
    margin-left: 17px;
    outline: none;
}

.profile__edit-button:hover{
    opacity: .6;
    transition: 1.5s;
}

@media screen and (max-width: 320px){
    .profile__edit-button{
        margin: 0;
    }
}