.profile__add-button{
    width: 150px;
    height: 50px;
    border: none;
    background: url("../../../images/plus.svg");
    cursor: pointer;
    justify-self: flex-end;
    box-sizing: border-box;
    background-position: center;
    border: 2px solid #fff;
    background-repeat: no-repeat;
    outline: none;
    border-radius: 2px;
}

.profile__add-button:hover{
    opacity: .6;
    transition: 1.5s;
}

@media screen and (max-width: 925px){
    .profile__add-button{
        width: 282px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 320px){
    .profile__add-button{
        width: 282px;
        height: 50px;
    }
}