.profile__avatar{
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-repeat: no-repeat;
    background-attachment: top left;
    padding: 3.75px 26.25px 3.75px 22.5px;
}

@media screen and (max-width: 925px){
    .profile__avatar{
        margin: 0 auto;
    }
}