.form__close{
    position: absolute;
    display: block;
    border: none;
    width: 40.7px;
    height: 40.7px;
    top: -65px;
    right: -60px;
    cursor: pointer;
    background: none;
    outline: none;
}

.form__close:hover{
    opacity: .6;
}

@media screen and (max-width: 505px){
    .form__close{
        top: -80px;
        right: 1px;
    }
}