.profile__info{
    display: flex;
    max-width: 336px;
    flex-wrap: wrap;
    align-items: center;
}

@media screen and (max-width: 925px){
    .profile__info{
        margin: 0 auto;
    }
}

@media screen and (max-width: 320px){
    .profile__info{
        justify-content: center;
    }
}