/* .model__copyright{
    
} */

.model__copyright::placeholder{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000;
}

@media screen and (max-width: 505px){
    .model__copyright{
        width: 90%;
    }
}